/* This is header */
html{
    background-color: white ;
}

body{
    width: 90%;
    margin: 0 auto;
    background-color: rgba(240, 234, 234, 0.849);
    border-radius: 5px;
}

 #linkLogo{
    display:grid;
    text-decoration: none;
    width: 6px;
    margin-top:0.5%;
    margin-left: 6%;
}
 

#paraTalk{
    text-align: center;
}
#talk{
    /* text-align: center; */
    font-size: 200%;
    width: 50%;
    margin: 50px;
    border-left: 5px solid rgb(255, 9, 9);
    padding-left: 8px;

}
.lightinfo{
    /* box-shadow:5px 5px #11101034;  */
    /* background-color: #221f1f21; */
 margin-left: 32%;
 padding-top: 10px;
   display: inline-block;
   -webkit-filter: sepia(100%);
    filter: sepia(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;

}

.lightinfo:hover{
    -webkit-filter: sepia(0);
    filter: sepia(0);
}
.lightinfo1{
    margin-left: 15%;
    padding-top: 10px;
      display: inline-block;
}

.lightinfo2{
    margin-left: 15%;
    padding-top: 10px;
      display: inline-block;

}
.members2{
    margin-bottom: 10px;
    margin-left: 60px;
     box-shadow:5px 5px #11101034;
    display: inline-block;
    padding: 10px;
 background-color: #221f1f21;
    border-radius: 5px;
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    margin-top:20px;
}

.members2:hover{
    -webkit-filter: sepia(0);
    filter: sepia(0);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
.members3 {
    margin-bottom: 10px;
    margin-left: 62px;
    display: inline-block;
    padding: 10px;
 background-color: #221f1f21;
    border-radius: 5px;
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.members3:hover{
    -webkit-filter: sepia(0);
    filter: sepia(0);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
#teachers{
    font-size: 200%;
    width: 50%;
    margin: 50px;
    border-left: 5px solid rgb(255, 9, 9);
    padding-left: 8px;
    margin-bottom: 0;
}
.teachers{
    padding-top: 10px;
    margin-top: 30px;
}
.teacDiv{
    margin-left: 55px;
    margin-bottom: 10px;
    box-shadow:5px 5px #352a2a34;
    display: inline-block;
    padding: 10px;
    background-color: #25242491;
    border-radius: 5px;
    color: black;
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.teacDiv:hover{
    -webkit-filter: sepia(0);
    filter: sepia(0);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
.h3teac{
    color: red;
    font-family: 'Teko', sans-serif;
}
.name {
margin-bottom: 10px;
margin-top: 1px;
margin-right: 0px;
font-family: 'Abril Fatface', cursive;
}
.h4 {
font-size: 110%;
    
}
.h3{
    color: rgb(255, 9, 9);
}
/* .titaec{} */
 .h4 , .h3 {
    font-family: 'Teko', sans-serif;

    margin: 0px;
    
 
}

.imgpirso{
    width: 150px;
    height: 200px;
    float: right;
    margin-top: -70%;
    margin-left: 150px;
    border-radius: 5px ;
    box-shadow: 2px 2px 2px 2px rgba(175, 110, 110, 0.781);
}
.imgpirso , .inspara {
    display: inline-block;
}


#botDivs{
    margin-left: 100px;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);

svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 600px;
    height: 400px;
    margin: 0 auto;
    margin-top:-100px;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: red;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: darkred;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: black;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: red;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: darkred;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}

