/* This is header */
html{
    background-color: white ;
}

body{
    width: 90%;
    margin: 0 auto;
    background-color: rgba(240, 234, 234, 0.849);
    border-radius: 5px;
}

 #linkLogo{
    display:grid;
    text-decoration: none;
    width: 6px;
    margin-top:0.5%;
    margin-left: 6%;
}
 footer{
    font-family: 'Anton', sans-serif;
    width: 100%;
    margin: 0 auto;

    height: 600%;
    background-color: #27212170;
    margin-top: 30px;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
} 

#paraTalk{
    text-align: center;
}
#npng {
    text-align: center;
    font-family: fantasy;
    color: rgb(255, 9, 9);
    text-shadow: 3px 3px rgb(105, 76, 76);
    font-size: 300%;
    margin-top: 100px;
    margin-bottom: 0px;
}
#talk{
    /* text-align: center; */
    font-size: 200%;
    width: 50%;
    margin: 50px;
    border-left: solid 1px rgb(255, 9, 9);
    padding-left: 8px;

}
.lightinfo{

 margin-left: 30%;
 padding-top: 10px;
   display: inline-block;

}
.lightinfo1{
    margin-left: 15%;
    padding-top: 10px;
      display: inline-block;
}

.lightinfo2{
    margin-left: 15%;
    padding-top: 10px;
      display: inline-block;

}
.members2{
    margin-bottom: 10px;
    margin-left: 50px;
     box-shadow:5px 5px #11101034;
    display: inline-block;
    padding: 10px;
 background-color: #221f1f21;
    border-radius: 5px;
}
.members3 {
    margin-bottom: 10px;
    margin-left: 52px;
    box-shadow:5px 5px #11101034;
    display: inline-block;
    padding: 10px;
 background-color: #221f1f21;
    border-radius: 5px;
}
#teachers{
    font-size: 200%;
    width: 50%;
    margin: 50px;
    border-left: solid 1px rgb(255, 9, 9);
    padding-left: 8px;
    margin-bottom: 0;
}
.teachers{
    margin-left: 8%;
    padding-top: 10px;
}
.teacDiv{
    margin-left: 10px;
    margin-bottom: 10px;
    box-shadow:5px 5px #352a2a34;
    display: inline-block;
    padding: 10px;
 background-color: #25242491;
    border-radius: 5px;
    color: white;

}
.h3teac{
    color: rgb(2, 1, 2);
    font-family: 'Teko', sans-serif;
}
.name {
margin-bottom: 10px;
margin-top: 1px;
margin-right: 0px;
font-family: 'Abril Fatface', cursive;
}
.h4 {
font-size: 110%;
    
}
.h3{
    color: rgb(255, 9, 9);
}
/* .titaec{} */
 .h4 , .h3 {
    font-family: 'Teko', sans-serif;

    margin: 0px;
    
 
}

.imgpirso{
    width: 150px;
    height: 200px;
    float: right;
    margin-top: -70%;
    margin-left: 150px;
    border-radius: 5px ;
    box-shadow: 2px 2px 2px 2px rgba(175, 110, 110, 0.781);
}
.imgpirso , .inspara {
    display: inline-block;
}


#botDivs{
    margin-left: 100px;
}


/* This is footer */
footer{
    font-family: 'Anton', sans-serif;
    width: 100%;
    margin: 0 auto;
    height: 600%;
    background-color: #27212170;
    margin-top: 30px;
    text-align: center;
    /* background:  url("https://cdn2.hubspot.net/hubfs/439788/intechnic_2017/assets/images/header-background.png") 0 0 repeat-x */
}
#p{
    color: cornsilk;
    margin-top: 40px;
    padding: 5%;
    letter-spacing: 2px;
   
}
