/* This is header */
header{
    font-family: 'Anton', sans-serif;
    width: 100%;
    height: 100%;
    background-color: #635b5b21;
    margin: 0 auto;
    /* margin-bottom:20px; */
    /* position: fixed; */
    z-index: 6;
    left: 0;
    top: 0;
    width: 100%;
    height: 75px;
    transition-property: background-color,box-shadow,transform;
    background:  url("https://cdn2.hubspot.net/hubfs/439788/intechnic_2017/assets/images/header-background.png") 0 0 repeat-x
}
 #linkLogo{
    display:grid;
    text-decoration: none;
    width: 6px;
    margin-top:0.5%;
    margin-left: 6%;
}
#logo{
    margin-top: -5px;
    margin-left: 50px;
}
header h1{
    font-size: 275%;
    color: rgb(255, 9, 9);
    margin-left: 6%;
    letter-spacing:5px;
    margin-top:0.5%;
 
}
header h1:hover{
    /* font-size: 280%; */
    text-shadow: 2px 2px rgba(240, 234, 234, 0.849);

}

header img{
   
    margin-top: 25px;
    margin-left: 25px;
   
}
header nav ul{
    
     margin-top: -110px;
     margin-left: 400px;
     
}
header nav ul li{
    display:inline-block;
    list-style-type: none;
    margin-top: 3.5%;
     margin-left: 5%;
     
}
header nav ul li a{
    margin-right: 30px;
    color: cornsilk;
    font-size: 30px;
    text-decoration: blink;
    letter-spacing:10px;
    font-family: sans-serif;
    display: inline;
}
header nav ul li a:hover{
    
    color:cornsilk ;
    background:text #ff0000 ;
    background-color: #ff0000;
    box-shadow: 0 0 9px #ff0000, 0 0 35px #ff0000, 0 0 75px #ff0000;
    transition-delay: 0.1s;

}
header div{
    height: 50%;
}
header div img{
    width: 100%;
    position: relative;
    
}


/* This is main */
main{
    font-family: 'Saira Condensed', sans-serif;
}
.main-img{
    width: 100%;
   
      height: 200px;
   

    object-fit: contain;
     background: url(background.png) no-repeat ;
     background-size: 1333px ;
     
     
    animation: slide1 60s infinite;
}
@keyframes slide1 {
    0%{background-position: 0 0%;}
    25%{background-position: 0 100%;}
    100%{background-position: 0 0%;}
}



/* ////////////////////////////////////////////////////// DONE */


 
#italianDish  span{
    margin-right: 150px;
    margin-left: 0;
}
#indianDish  span{
    margin-right: 500px;
    margin-left: -32%;
}
        #arabianDish  span{
            margin-right: 481px;
            margin-left: -34%
        }

#italianDish img{
    margin-right: 150px;
    margin-left:10%;
   margin-bottom: 1%;
}


#indianDish img{
    margin-right: 150px;
    margin-left:10%;
   margin-bottom: 5%;
}

#arabianDish img{
    margin-right: 150px;
    margin-left:10%;
   margin-bottom: 5%;
} 
 



#italianDish ,#indianDish ,#arabianDish {

margin-left:px ;
}



img{
    margin: 90px;
}


section img{
    width: 150px;
    height: 150px;
    margin-top: 25px;
    border: 3px solid white;
    border-radius: 50%;

}

section img:hover{
    border: 3px solid rgb(255, 0, 0);
    opacity:1;
        animation: move 5s infinite;
}

@keyframes move{
    0%{border-radius: 50%;}
    25%{border-radius: 40%;}
    50%{border-radius: 30%;}
    75%{border-radius: 40%;}
    100%{border-radius: 50%;}
    }
#italian{
    font-size: x-large;
    color: #ff0000;
    background-color: rgba(173, 152, 152, 0.445);
}
#arabian{
    font-size: x-large;
    color: #ff0000;
    background-color: rgba(173, 152, 152, 0.445);
}
#indian{
    font-size: x-large;
    color: #ff0000;
    background-color: rgba(173, 152, 152, 0.445);
}

section button {
    background-color: rgba(231, 40, 56, 0.87);
    border: 2px solid rgba(224, 20, 98, 0.781);
    border-radius: 15%;
    margin-left: 50px;
}



#uniqLogo{

    /* width:220px; height:200px; margin:5% auto; background: rgb(114, 114, 114);  */
   
    background: -webkit-linear-gradient(top, rgb(170, 165, 165) 0%,rgba(255, 6, 6, 0.788) 35%,rgb(170, 165, 165) 70% ,rgba(255, 6, 6, 0.788) 65%,rgb(170, 165, 165) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04'   );
    margin-left: 1070px;
    position: fixed;
    margin-top: -100px;
    }
    
/* .ribbon-wrapper {
	position: relative;z-index:998;
} */
  .ribbon-front {
	background-color: #cc3333;	height: 50px;
	width: 240px;
	position: relative;
	left:1px;
	z-index: 2; font:20px/50px bold Verdana, Geneva, sans-serif; color:#f8f8f8; text-align:center;text-shadow: 0px 1px 2px #cc6666;
}

  /* .ribbon-front,
  .ribbon-back-left,
  .ribbon-back-right
{
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
} */

  /* .ribbon-edge-topleft,
  .ribbon-edge-topright,
  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
	position: absolute;
	z-index: 1;
	border-style:solid;
	height:0px;
	width:0px;
} */

  /* .ribbon-edge-topleft,
  .ribbon-edge-topright {
} */

  /* .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
	top: 50px;
} */

  /* .ribbon-edge-topleft,
  .ribbon-edge-bottomleft {
	left: -10px;
	border-color: transparent #9B1724 transparent transparent;
} */

  /* .ribbon-edge-topleft {
	top: -5px;
	border-width: 5px 10px 0 0;
} */
  /* .ribbon-edge-bottomleft {
	border-width: 0 10px 0px 0;
} */

  /* .ribbon-edge-topright,
  .ribbon-edge-bottomright {
	left: 220px;
	border-color: transparent transparent transparent #9B1724;
} */

  /* .ribbon-edge-topright {
	top: 0px;
	border-width: 0px 0 0 10px;
} */
  /* .ribbon-edge-bottomright {
	border-width: 0 0 5px 10px;
} */


@-webkit-keyframes flow {
	/* 0% { left:-20px;opacity: 0;} */
	/* 50% {left:100px;opacity: 0.3;} */
    /* 100%{ left:180px;opacity: 0;} */
}
@keyframes flow {
	/* 0% { left:-20px;opacity: 0;} */
	/* 50% {left:100px;opacity: 0.3;} */
    /* 100%{ left:180px;opacity: 0;} */
} 



.firstButton , .seconButton , .thirdButton{
    margin-left: 600px;
    background-color: rgb(75, 75, 75);
}

.firstButton span , .seconButton span, .thirdButton span{
      
    display: inline-block;
    padding: 10px 20px 20px 10px;
   
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-image: url("https://c8.alamy.com/comp/EPWMJ5/illustration-of-green-plus-icon-on-white-background-EPWMJ5.jpg");
    
    background-size: cover;
    
    
    
}



.firstButton:active span , .seconButton:active span , .thirdButton:active span{
    -webkit-transform: translate(0, 5px); 
    
}



/* ///////////////////////////////// DONE  */
/* This is footer */
footer{
    font-family: 'Anton', sans-serif;
    width: 25%;
    margin: 0 auto;
    height: 600%;
    background-color: #27212170;
    margin-top: 30px;
    text-align: center;
}
   
#p{
    color: cornsilk;
    margin-top: 40px;
    padding: 5%;
    letter-spacing: 2px;
   
}
