/* This is header */
header{
    font-family: 'Anton', sans-serif;
    width: 100%;
    height: 100%;
    background-color: #0e0e0f21;
    margin: 0 auto;
    /* margin-bottom:20px; */
    position: fixed;
    z-index: 6;
    left: 0;
    top: 0;
    width: 100%;
    height: 75px;
    transition-property: background-color,box-shadow,transform;
    opacity: 75%;   
    background:  url("https://cdn2.hubspot.net/hubfs/439788/intechnic_2017/assets/images/header-background.png") 0 0 repeat-x
}
 #linkLogo{
    display:grid;
    text-decoration: none;
    width: 6px;
    margin-top:0.5%;
    margin-left: 6%;
}
#logo{
    margin-top: -5px;
    margin-left: 50px;
}
header h1{
    font-size: 275%;
    color: rgb(255, 9, 9);
    margin-left: 6%;
    letter-spacing:5px;
    margin-top:0.5%;
 
}
header h1:hover{
    /* font-size: 280%; */
    text-shadow: 2px 2px rgba(240, 234, 234, 0.849);

}

header img{
   
    margin-top: 25px;
    margin-left: 25px;
   
}
header nav ul{
    
     margin-top: -110px;
     margin-left: 400px;
     
}
header nav ul li{
    display:inline-block;
    list-style-type: none;
    margin-top: 3.5%;
     margin-left: 2%;
     
}
header nav ul li a{
    margin-right: 30px;
    color: cornsilk;
    font-size: 30px;
    text-decoration: blink;
    letter-spacing:10px;
    font-family: sans-serif;
    display: inline;
}
header nav ul li a:hover{
    
    color:cornsilk ;
    background:text #ff0000 ;
    background-color: #ff0000;
    box-shadow: 0 0 9px #ff0000, 0 0 35px #ff0000, 0 0 75px #ff0000;
    transition-delay: 0.1s;
    
   
    /* box-shadow: rgba(230, 13, 13, 0.26); */
    /* border-style: double; */


}
header div{
    height: 50%;
}
header div img{
    width: 100%;
    position: relative;
    
}


/* This is main */
main{
    font-family: 'Saira Condensed', sans-serif;
}
.main-img{
    width: 100%;
   margin-top: 5.6%;
      height: 200px;
   

    object-fit: contain;
     background: url(background.png) no-repeat ;
     background-size: 1333px ;
     
     
    animation: slide1 30s infinite;
}
@keyframes slide1 {
    0%{background-position: 0 0%;}
    25%{background-position: 0 100%;}
    100%{background-position: 0 0%;}
}
#italianDish span:first-child {
    color: black;
}
#indianDish span:first-child {
    color: black;
}
#arabianDish span:first-child {
    color: black;
}




#italianDish ,#indianDish ,#arabianDish {

margin-left:180px ;
}

input {
    background-color: #0e0e0f21;
    border: 2px dotted red;
    border-radius: 10%;
    text-align: center;
    font-size: 25px;
    width: 90px;
    height: 25px;
    padding-left: 0 40px;
}



section img{
    width: 150px;
    height: 150px;
    margin-top: 25px;
    border: 3px solid white;
    border-radius: 50%;
    margin-left: -140px;
    margin-top: -170px;

}

section img:hover{
    border: 3px solid rgb(255, 0, 0);
    opacity:1;
        animation: move 5s infinite;
}

@keyframes move{
    0%{border-radius: 50%;}
    25%{border-radius: 40%;}
    50%{border-radius: 30%;}
    75%{border-radius: 40%;}
    100%{border-radius: 50%;}
    }
#italian{
    font-size: x-large;
    color: #ff0000;
    background-color: rgba(173, 152, 152, 0.445);
}
#arabian{
    font-size: x-large;
    color: #ff0000;
    background-color: rgba(173, 152, 152, 0.445);
}
#indian{
    font-size: x-large;
    color: #ff0000;
    background-color: rgba(173, 152, 152, 0.445);
}
#italian ul{
    margin-left: 50px;
}

#arabian ul{
    margin-left: 50px;
}

#indian ul{
    margin-left: 50px;
}

section button {
    background-color: rgba(231, 40, 56, 0.87);
    border: 2px solid rgba(224, 20, 98, 0.781);
    border-radius: 15%;
    margin-left: 50px;
}


#add0 ,#add1 ,#add2{
    background-color: #706b6b;
    margin-left: 660px;
    margin-top: 50px;
    width: 150px;
    padding: 5px 20px;
padding-bottom: 35px;
    height: 30px;
    border-radius: 20%;
    font-size: larger;
    font-weight: bold;
    color: rgb(238, 228, 228);
    box-shadow: 0 0 2px #f00d0dea, 0 0 15px #ff0000, 0 0 5px #ff0000;
    transition-delay: 0.2s;
}


#add0:hover , #add1:hover , #add2:hover{
    border:5px solid red;
    color:red;
    background:black;
}


.firstButton , .seconButton , .thirdButton{
    /* margin-left: 70%; */
    /* padding-left: 0.6%; */

margin-bottom: 10px;
    /* background-color: rgba(173, 107, 107, 0); */
    margin-left: 10%;
    padding-left: 1%;
    padding: 0.08%;
    margin-top: 2%;
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.firstButton span , .seconButton span, .thirdButton span{
    display: inline-block;
    padding: 15px;
    /* border-radius: 10%; */
    width: 15px;
    height: 15px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/39/Nuvola_Red_Plus.svg/600px-Nuvola_Red_Plus.svg.png");
    background-size: cover; 
    margin-bottom: 50px;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
from { box-shadow:0px 0px 10px 3px red; }
to { box-shadow:0px 0px 20px 5px darkred; }
}

.firstButton span:hover , .seconButton span:hover, .thirdButton span:hover{
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
    background-color: black;
    border-radius: 50%;


}



#italian h2,#indian h2,#arabian h2 {
    font-family: 'Bowlby One SC', cursive;
    font-size: 150%;
    background-color:  #c10000;
    color: #dedede;
    text-align: center;
    /* display: inline-block; */
    /* margin: 0 auto; */
    margin-left: 5%;
    /* margin-right: 25%; */
    /* margin-bottom: 5%; */
    /* margin-top: 5%; */
    text-shadow:6px 6px 15px black;
    letter-spacing: 10px;
    padding-left: 2.5%;
    padding-right: 1.5%;
    border-radius: 2%;
    width: 450px;
   
}

#italian span,#indian span,#arabian span {
    font-family: 'Fredoka One', cursive;
    margin-right: 10px;
    margin-left:1%; 
}


#icon {
    display: inline;
}
   

.epicTitle h1,h2 {
    font-weight: 200;
    margin: 0.4em 0;
  }
.epicTitle h1 { font-size: 3.5em;
text-align: center; }
.epicTitle h2 {
    color: #888;
    font-size: 2em;
    margin-left:100px;
    animation:hehe 2s linear infinite;
    width: 12%;
    text-align: center;
  }

  @keyframes hehe{
from { box-shadow:0px 0px 10px 3px red; }
to { box-shadow:0px 0px 20px 5px darkred; }
}


#form0{
    margin-left:84px;
}

#form1{
    margin-left:140px;
}

#form2{
    margin-left:53px;
}

#form3{
    margin-left:124px;
}

#form4{
    margin-left:71px;
}

#forma0{
    margin-left:74px;
}

#forma1{
    margin-left:84px;
}

#forma2{
    margin-left:99px;
}

#forma3{
    margin-left:55px;
}

#forma4{
    margin-left:90px;
}

#formi0{
    margin-left:70px;
}

#formi1{
    margin-left:58px;
}

#formi2{
    margin-left:161px;
}

#formi3{
    margin-left:52px;
}

#formi4{
    margin-left:75px;
}

#container { 
    display: none; 
    background-color:#706b6b;
    color: black;
    font-size: 25px;
    position: fixed; 
    width: 450px; 
    border-radius: 15px; 
    left: 50%; 
    margin-left: -200px; 
    padding: 16px 8px 8px; 
    box-sizing: border-box; 
    margin-top: -350px;
    border: 4px solid #c10000;
    font-family: 'Spirax', cursive;
 } 
   
 /* Designing dialog box's okay buttun */
 #container button { 
    background-color: rgb(161, 112, 112); 
    display: inline-block; 
    border-radius: 5px; 
    border: 2px solid darkred; 
    padding: 5px; 
    text-align: center; 
    width: 60px; 
    margin-left: 40%;
    font-size: 20px;
  
 } 
 @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px darkred, 0 0 40px darkred, 0 0 50px darkred, 0 0 60px darkred, 0 0 70px darkred;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px red, 0 0 40px red, 0 0 50px red, 0 0 60px red, 0 0 70px red, 0 0 80px red;
    }
  }
 #container button:hover { 
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
 } 
   
 /* Dialog box message decorating */
 #container .message { 
    text-align: left; 
    padding: 10px 30px; 
 } 

 .orderImage{
     margin-left: 100px;
 }

 .orderImage img{
    width: 100px;
    border:3px solid darkred;
    border-top-left-radius: 25%;
    border-top-right-radius:25% ;
    animation: glow 1s infinite alternate;
    margin-left:20px;
    margin-top: 35px;
 }


 .orderImage h3{
  font-size: 25px;
  display: inline-block;
  margin-bottom: 5px;
 }
 @keyframes glow {
    from {
      box-shadow: 0 0 10px -10px red;
    }
    to {
      box-shadow: 0 0 10px 10px darkred;
    }
  }